@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Yomogi&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

body, html{
    height: 100%;
    
}
body{
    background-image: linear-gradient(to bottom right, #dee2ff, #cda55a);
}
.body-text{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin: 75px;
}

p {
    font-family: 'Yomogi', cursive;
    color: #dee2ff;
}

h1,h2 {
    font-family: 'Cinzel', serif;
    color: #6a5acd;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #459082;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #6a5acd;
    font-family: 'cinzel', Times, serif;
    padding: .5em;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}
header{
    height: 40px;
}
.heading{
    color: #fbe698;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 40px;
}

#section-services_column{
    width: 65%;
}
.border {
    border: 0.5px solid black;
    border-radius: 5px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 120px;
}

.nav-links a{
    color: rgb(25, 67, 67);
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 19px;
}
button{
    width: 70px;
    height: 20px;
    background-color: darkorange;
    outline: none;
    color: darkslategrey;
    font-size: .7rem;
}
label,input,textarea{
    margin: 5px;
    display: block;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
}

input,textarea{
    width: 80%;
}

.contact-form{
    background-color: #454f90;
    height: 300px;
    width: 500px;
    border: solid yellowgreen .25px;
    border-radius: 8px;
}
.col {
    width: 50%;
    padding: 20px;
    text-align: center;
    float: left;
}
.form-row {
    margin-bottom: 15px;
}
textarea {
    height: 100px;

}

.nav-links li a:hover{
    color: rgb(31, 206, 119);
    transition: 0.3s ease-in-out;
   
}

.hero{
    margin: 10px;
    background-image: url("image0000001.jpeg");
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-col{
    float: left;
    width: 50%;
    padding: 20px;
    text-align: left;
}
 .sidebar-col{
    color: #fff;
    float: right;
    width: 50%;
    padding:20px;
    text-align: right;
 }

 .billboard{
    background-color: #90733f;
    text-align: center;
    padding: 10px;
 }

 .left-col,.right-col {
background-color: #459082;
float: left;
width: 25%;
padding: 10px;
 }
 .center-col {
    background-color: #584a90;
    float: left;
    width: 50%;
    padding: 30px;
 }

.footer-container{
    background-color:none;
    padding:16px 19px
}
/* .footer-left{
    float: left;
    margin-left: 100px;
}
.footer-email-form{
    float: right;
    margin-right: 100px;
} */

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 7vh;
    background-color:rgb(10, 9, 11);
    color: darkslategrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    letter-spacing: 6px;
}
.fa-brands{
    font-size: 20px;
    margin: 10px;
    color: #dee2ff;
}
.footer-heading h2{
    margin-bottom:2rem;
    letter-spacing: 10px;

}

.footer-heading a{
    color: darkslategrey;
    text-decoration: none;
    margin-bottom: .6rem;
}

.footer-heading a:hover{
    color: rgb(255, 0, 47);
    transition: .3s ease-in-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email{
    width: 219px;
    height: 18px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    justify-content: right;
}

#footer-email::placeholder{
    color: chocolate;
}

#footer-email-btn{
    width: 70px;
    height: 20px;
    background-color: darkorange;
    outline: none;
    border: none;
    color: darkslategrey;
    font-size: 1rem;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: slateblue;
    transition:all .3s ease-in-out
}
.clearfix{
    clear: both;
}